
body{
    background-color: cornsilk;
}


#divD{
    background-color: #f69a5a;
    border: 2px solid #ffcccc;
    min-height: 100px;
}

/*CORPO LOGIN*/
.login-corpo{
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* --- CORPO PAG: LISTAR E EXCLUIR ---*/
.C{
    background-color: #ffe0bc;
    margin: 0px;

}

/* --- COLOR TEXT MENU ---*/
.person-text-color-1 {
    color: #FF0000 !important;
}
.person-text-color-2 {
    color: #3ADF00 !important;
}

.person-text-color-3 {
    color: #F8C300 !important;
}

.person-text-color-4 {
    color: #FF0000 !important;
    font-family: 'Lato';
    font-size: 20px;
}
/*--- BACKGROUND COLOR ---*/

.person-background-color-1 {
    background-color: #333333 !important;
}

/**  --- BUSCA ----  **/


/**  --- TABELA ----  **/
table {                
    margin: 20pt auto;
    padding: 2%;
    text-align: center;
    background-color: #ffcccc;
}

table caption {
    font-size: 16pt;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;                
    background-color: #ff6666;;
    padding: 2%;                
}

table thead tr th {
    font-size: 16pt;
    color: rgb(255, 255, 255);                
}            

table tbody {
    font-size: 14pt;                
}

table tbody tr td {
    padding: 1% 2%;                
}
.border-radius-style {
    margin: 20pt auto;
    padding: 2%;
    text-align: center;
    background-color: #ffccff;
    border-radius: 5px 20px;

}
.border-radius-stylem{
    margin: 20pt auto;
    padding: 2%;
    text-align: center;
    background-color: #ccffff;
    border-radius: 5px 20px;
}

/**  --- IMAGENS ----  **/
.perfil{
    height: 70px;
    width: 70px;
}
.log{
    position: relative;
    height: 200px;
    width: 200px;
    right: 100%;
    left:5%;
    top: 5%;
    bottom: 0;
}
.along{
    right: 50px;
    left: 50px; 
    top: 10px; 
    margin-left: 120px;

}
/*
.foto2{
height: 90.43px;
width: 134px;
right: 50px;
left: 50px; /* posiciona a 90px para a esquerda 
top: 10px;  posiciona a 70px para baixo 
}*/ 
.foto{
    height: 95.43px;
    width: 134px;
    position: absolute;
    margin-left: 120px;
    margin-top: -40px;
    left:50%;
    top: 50%;
}
.icone{
    height: 90.43px;
    width: 134px;
    left: 0;
}
.station{
    height: 90.43px;
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;

}
.logo{
    height: 210px;
    width: 530px;
    align-items: center;
}
.faceimg{
    height: 20px;
    width: 26.67px;
}
.img-fluid{
    position: relative;
    bottom: 0;
    right: 0;

}

/**  --- LETRAS ----  **/
@font-face {
    font-family: Lato;
    src: url('font/Lato.ttf');
}
.face{
    font-family: 'Lato';
    color: #074465;
    font-size: 15px;

}
.senha{
    font-family: 'Lato';
    color: #8190A5;
    font-size: 19px;
    padding-right:10px;
    text-align:right;
}
h1{
    font-family: 'Lato';
    color: #47525E;
    font-size: 24px;
    text-align: center;
}

/**  ---Linha ----  **/
hr.hr-custom {
    width: 100%;
    border-color: #6C6C6C;
}

/*--Estilizando o hr--*/
hr {
    color: #f00;
    background-color: #f00;
    height: 5px;
}

/**  --- CAMPO CADASTRO ----  **/
.n-widht-input{
    min-width: 265px;
}


#cadastro{
    background-color: #f8edda;
}

/**  --- BOTÃO CADASTRO ----  **/

.btn_cadastro{
    display: block;
    width: 1%;
    height: 40px;
    padding: 6px 10px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #FF8000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.btn_cadastro:focus{
    outline-style: none;
}

/**  ---- Botão voltar ao topo ---  **/
.voltar-ao-topo {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    background-color:#ff0033;
    font-size: 12px;
    padding: 1em;

}


.voltar-ao-topo:focus{
    outline-style: none;
}



/**  ---- MENU ---  **/



